{% extends 'pages/index.html' %}
{% block content %}
{% load static %}


  <div>
        <h1>Books</h1>
        <p>Introducing our innovative books web application, where seamless books exploration meets personalized stories experiences. Dive into a vast library of books across genres, discover new authors, and create custom booklist tailored to your taste. Our user-friendly interface ensures easy navigation, while smart algorithms recommend reading based on your preferences. Enjoy high-quality stories, create and share readinglist effortlessly, and stay up-to-date with the latest releases. With a sleek design and robust features, our books web application is your gateway to an immersive and personalized stories.</p>
       <div>
          <button type="button" >Primary</button>
          <button type="button" >Default</button>

            <input type="email" placeholder="name@example.com">
            <label>Email address</label>
       </div>

          <div>
            <input type="password"  placeholder="Password">
            <label>Password</label>
          </div>

          <div>
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button type="submit">Sign up</button>
          <hr>
          <small>By clicking Sign up, you agree to the terms of use.</small>


  </div>

{% endblock %}
